<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFBXrApqwtqTBrfHvDT-LuEGPP7JmGOVY</string>
	<key>GCM_SENDER_ID</key>
	<string>942102607123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kw.musallam.delivery</string>
	<key>PROJECT_ID</key>
	<string>musallam-delivery-kw</string>
	<key>STORAGE_BUCKET</key>
	<string>musallam-delivery-kw.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942102607123:ios:442ef4381a6480f48096e6</string>
</dict>
</plist>